@rowColor: #fff;

@highlight: #518374;
@highlightText: #eee;
@highlightLight: #f13432; /*#079c62;*/

@fontSize: 18px;
@lineHeight: 1.5 * @fontSize;

@fontColor: #484848; /* #484848;*/

@padding: @fontSize / 3;

@navigationHeight: @fontSize * 2 + @padding;
@navigationHeight: 0; /* hitzendorf spezial */
@headerHeight:  @fontSize * 4 + @padding;
@headerHeightLandscape: 100px;

@footerHeight: 48px;
@iosHeader: 0px;

@headerWidth: 120px;

@backgroundColor: #eee;

@font: Verdana, Geneva, sans-serif;

@indent: @lineHeight * 3;
@iconSizeBorder: @fontSize * 2;
@iconSize: @iconSizeBorder * 6/7;

.background-size(@size: cover) {
	-webkit-background-size: @size;
	-moz-background-size: @size;
	-o-background-size: @size;
	background-size: @size;
}

.fullcontent(@pad: 0px) {
	display: block;
	position: absolute;
	top: @pad;	bottom: @pad;	height: auto;
	left: @pad; right: @pad; width: auto;
	overflow: hidden;
}

.fullcontent {
	.fullcontent();
}

.border-radius(@type: 50%) {
	border-radius: @type;
	-webkit-border-radius: @type;
	-o-border-radius: @type;
	-ms-border-radius: @type;
	-moz-border-radius: @type;

	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	-o-background-clip: padding-box;
	-ms-background-clip: padding-box;
	background-clip: padding-box;
}
.box-shadow(@settings) {
	-o-box-shadow: @settings;
	-ms-box-shadow: @settings;
	-moz-box-shadow: @settings;
	-webkit-box-shadow: @settings;
	box-shadow: @settings;
}
.clip {
	background-clip: padding-box;
}

.round {
	.border-radius();
}

.box-sizing(@type: border-box) {
	box-sizing: @type;
	-webkit-box-sizing: @type;
	-o-box-sizing: @type;
	-ms-box-sizing: @type;
	-moz-box-sizing: @type;
}
.transform(@params) {
    -webkit-transform: @params;
    -moz-transform: @params;
    -ms-transform: @params;
    -o-transform: @params;
    transform: @params;
}

.transition(@params) {
  -webkit-transition: @params;
  -moz-transition: @params;
  -o-transition: @params;
  transition: @params;
}

.transition-transform(@params) {
 -webkit-transition: -webkit-transform @params;
  -moz-transition: -moz-transform @params;
  -o-transition: -o-transform @params;
  transition: transform @params;
}

.translate(@X, @Y, @Z: 0px) {
	-webkit-transform: translate3d(@X, @Y, @Z);
	-moz-transform: translate3d(@X, @Y, @Z);
	-o-transform: translate3d(@X, @Y, @Z);
	-ms-transform: translate3d(@X, @Y, @Z);
	transform: translate3d(@X, @Y, @Z);
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
		.box-sizing();
}

html, body {
	height: 100%;
	.translate(0,0,0);
	.box-sizing();
	overflow: hidden;
	-ms-content-zooming: none;
	-ms-touch-action:none;
}

img, header span, i, body > section > section {
    .translate(0,0,0);
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: @lineHeight;
	font-family: @font;

	-o-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-ms-user-select: none;
	user-select: none;

	overflow: hidden;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.top	{
	.transition-transform(0.5s  ease);
	.translate(0px, -100%, 0px);
}
.left	{
	.transition-transform(0.5s  ease);
	.translate(-100%, 0px, 0px);
}
.right	{
	.transition-transform(0.5s  ease);
	.translate(100%, 0px, 0px);
}
.bottom	{
	.transition-transform(0.5s  ease);
	.translate(0px, 100%, 0px);
}


.notransition {
    .transition-transform(0  ease ) !important;
}

.top.part    { .translate(0px, -20%, 0px); }
.left.part   { .translate(-20%, 0px, 0px); }
.right.part	 { .translate(20%, 0px, 0px);  }
.bottom.part { .translate(0px, 20%, 0px);  }


.top.active, .left.active, .right.active, .bottom.active {
	.translate(0px, 0px, 0px);
}

a, a:visited, a:link {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

@keyframes headerfader {
  0%   { opacity:1; }
  9%   { opacity:1; }
  16%  { opacity:0; }
  91%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes headerfader {
  0%   { opacity:1; }
  9%   { opacity:1; }
  16%  { opacity:0; }
  91%  { opacity:0; }
  100% { opacity:1; }
}

header {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: @headerHeight ;
	background: @rowColor;
	border-bottom: 1px solid @backgroundColor;
	.box-sizing();
	.box-shadow(0 0 @padding black);
	color: @fontColor;
	overflow: hidden;
	.background-size();
	background-repeat: no-repeat;
	background-position: center center;

	img {
		max-height: 100%;
		width: auto;
	}


    .backgroundfading {
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        z-index: 1;

        div {
            width: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;

            .background-size();
            background-repeat: no-repeat;
            background-position: center center;


            /*
            -webkit-animation-name: headerfader;
            -webkit-animation-timing-function: ease-in-out;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-duration: 24s;
            -webkit-animation-direction: normal;

            animation-name: headerfader;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-duration: 24s;
            animation-direction: normal;
            */
        }

        /*
        div:nth-of-type(1) { -webkit-animation-delay: 20s; animation-delay: 20s; }
        div:nth-of-type(2) { -webkit-animation-delay: 16s; animation-delay: 16s; }
        div:nth-of-type(3) { -webkit-animation-delay: 12s; animation-delay: 12s; }
        div:nth-of-type(4) { -webkit-animation-delay:  8s; animation-delay:  8s; }
        div:nth-of-type(5) { -webkit-animation-delay:  4s; animation-delay:  4s; }
        div:nth-of-type(6) { -webkit-animation-delay:  0s; animation-delay:  0s; }
        */
    }

	.back {
		margin-left: 2 * @padding;
		margin-top: @padding;
		width: 3*@fontSize;
		margin-left: 12px;
		display: block;
        position: relative;
        z-index: 2;

		img {
			width: 100%;
			height: auto;
            z-index: 3;
            image-rendering:optimizeQuality;
            -ms-interpolation-mode:bicubic;
		}
		i {
            z-index: 3;
			font-size: 2.5 * @fontSize;

			left: 2px;
			top: 0;
			position: absolute;
		}


	}

	> span {
		position: absolute;
		left: 3*@fontSize + 4 * @padding;
		right: 0px;
		width: 75%;
		font-size: @fontSize * 1.5;
		line-height: @fontSize * 1.5;
		top: 0;
		height: @headerHeight;
		text-align: left;
		display: table;
        z-index: 2;

		span {
			display: table-cell;
			vertical-align: middle;
			height: @headerHeight;
			overflow: hidden;

            b {
                font-weight: bold;
            }

			small {
				font-size: 0.68 * @fontSize * 2;
				line-height: 0.68 * @fontSize * 2;
				display: block;
			}
		}
	}
}

footer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: @footerHeight;
	background: @rowColor;
	border-bottom: 1px solid @backgroundColor;
	.box-sizing();
	.box-shadow(0 0 @padding black);
	text-align: center;

	img {
		max-height: @headerHeight;
		width: auto;
	}

	/*
	a:first-child {
		border-left: 2px groove @backgroundColor;
	}
	*/
	a, a:link, a:visited {
		color: @highlight;
		font-size: 2*@fontSize;
		width: @footerHeight;
		height: @footerHeight;
		display: inline-block;
		text-decoration: none;
		margin: 0px;
		/* border-right: 2px groove @backgroundColor; */
		padding-top: (@footerHeight - 2*@fontSize) / 2;
        vertical-align: top;
	}

	a.inactive {
		color: #ccc;
	}
}

footer.iphonenav {
    height: 2*@fontSize;
    display: none;
    .box-shadow(none);
    font-size: @fontSize;
    line-height: @fontSize;
    padding-top: @fontSize / 2;
    background-color: @backgroundColor;

    a, a:link, a:visited, a:active {
        font-size: @fontSize * 1.5;
        padding: 0px;
        color: @fontColor;
    }

    #history_prev {
        float: left;
        margin-left: 2*@fontSize;
    }
    #history_next {
        float: right;
        margin-right: 2*@fontSize;
    }
}


#scroll-nav,
#scroll-list,
#scroll-detail,
#scroll-search,
#scroll-settings,
#map {
	.fullcontent();
	top: @headerHeight;
	background-color: @backgroundColor;
}

#scroll-search {
	background-color: rgba(0,0,0,0.7);


}

#searchtitle {
    position: relative;
}

#searchbutton {
    position: absolute;
    right: 0px;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    text-decoration: none;
    color: @fontColor;
}

#searchfield {
    .box-sizing();
    .border-radius(@padding * 2);
    border: 0px;
    font-size: 2*@fontSize;
    width: 100%;
    padding: @padding;
    padding-right: 40px;
}


body.ios  {
    header {
        height: @headerHeight + @iosHeader;

        > span {
            top: @iosHeader;
        }

        .back {
            margin-top: @iosHeader + @padding;
        }
    }

    #scroll-nav,
    #scroll-list,
    #scroll-detail,
    #scroll-search,
    #scroll-settings,
    #map {
        top: @headerHeight + @iosHeader;
    }

}

/*
#scroll-nav {
	background: url(../images/bg.jpg) bottom center no-repeat;
	background-size: cover;
}
*/


.showbutton #scroll-list,
#scroll-detail {
	bottom: @footerHeight;
}

.showtrash #scroll-list {
    bottom: @footerHeight + @lineHeight;
}

#navcontainer {


	nav {
		padding: @padding;

		a, a:link, a:visited {
			width: 100%;
			text-decoration: none;
			display: block;
			padding: @padding;
			color: @fontColor;
			display: table;
			background-color: rgba(red(@rowColor), green(@rowColor), blue(@rowColor),0.8);
			margin-bottom: @padding;


			i {
					font-size: 2 * @fontSize;
					.border-radius(@padding/2);
					background: @highlight;
					color: @highlightText;
					width: 3*@fontSize;
					height: 3*@fontSize;
					text-align: center;
					display: table-cell;
					vertical-align: middle;
			}

			span {
				height: 3*@fontSize;
				display: table-cell;
				vertical-align: middle;
				font-size: 1.2 * @fontSize;
				padding-left: 2*@padding;
			}
		}

        a:nth-child(even) i {
			background: @highlightLight;

		}
        a, a:link, a:visited {
            > i {
                /* background: @highlightLight; */
                &.dark {
                    background: @highlight;
                }
            }
		}
	}
}

#listcontainer footer {
    display: none;

    .trashimportcontainer {

        display: none;

        i {
            color: white;
            .border-radius(@padding /3);
            font-size: 1.5* @fontSize;
            width: 2*@fontSize;
            height: 2*@fontSize;
            line-height: 2*@fontSize;
        }
        .trash-rest { background-color: #000000 }
        .trash-plastik { background-color: #f8b32a }
        .trash-bio { background-color: #a58c5d }
        .trash-altpapier { background-color: #bc1d1d }
        .trash-sammelzentrum { background-color: #8577b6 }
    }
}
#listcontainer.showbutton footer {	display: block; }
#listcontainer.showtrash footer {

    display: block;
    height: @footerHeight + @lineHeight;

    .trashimportcontainer {
        display: block;
    }
}


#help {

    background: rgba(0,0,0,0.3);

    .helpscreen.nobg {
        background: url('../images/help/background.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    header {
        background-color: rgba(255,255,255, 0.7);
    }


    .indicators {
        position: absolute;
        left: 0px;
        right: 0px;
        width: auto;
        height: 24px;
        bottom: 80px;
        text-align: center;

        .translate(0,0,0);

        .indicator {
            .translate(0,0,0);

            .round();
            width: @fontSize * 0.75;
            height: @fontSize * 0.75;
            display: inline-block;
            opacity: 0.35;
            border: 1px solid @fontColor;
            background: #ffffff;

            &.active {
                opacity: 0.85;
            }
        }

    }

    .helpContent {
        padding: 1.2 * @fontSize;
        font-size: 1.2 * @fontSize;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        color: white;
        background: @highlightLight;

        b {
            font-weight: bold;
            display: block;
            margin-bottom:  1 * @fontSize;
        }
    }

}


#list, #search, #settings {
	padding: @padding;

	> a {

		width: 100%;
		text-decoration: none;
		display: block;
		padding: @padding;
		color: @fontColor;
		display: table;
		background-color: @rowColor;
		border-bottom: @padding solid @backgroundColor;
		position: relative;
		line-height: @fontSize;

		.count {
			font-size: 2 * @fontSize;
			.border-radius(@padding/2);
			background: @highlight;
			color: @highlightText;
			width: 3*@fontSize;
			height: 3*@fontSize;
			text-align: center;
			display: table-cell;
			vertical-align: middle;
		}

		.countIcon {
			width: 3*@fontSize;
			text-align: center;
			display: table-cell;
			vertical-align: middle;

			i {
				font-size: 2 * @fontSize;
				.border-radius(@padding/2);
				background: @highlight;
				color: @highlightText;
				width: 3*@fontSize;
				height: 3*@fontSize;
				text-align: center;
				display: table-cell;
				vertical-align: middle;
			}
		}

		.image {
			display: table-cell;
			width: 3*@fontSize;
			height: 3*@fontSize;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			.border-radius(@padding/2);
		}

		.date {
			display: table-cell;
			width: 3*@fontSize;
			vertical-align: top;

			.datebg {
				width: 3*@fontSize;
				height: 3*@fontSize;
				.border-radius(@padding/2);
				background: @highlight;
				text-align: center;
				color: @highlightText;
				padding-top: @fontSize * 0.5 / 2;

				span {
					display: block;
					text-align: center;
					/* font-weight: bold; */
				}
				span.day {
					font-size: @fontSize * 1.33 ;
					line-height: @fontSize * 1.33
				}
				span.weekday {
					font-size: @fontSize * 0.4;
					line-height: @fontSize * 0.4;
				}
				span.month {
					font-size: @fontSize * 0.66 ;
					line-height: @fontSize * 0.66;
					color: white;
					text-transform: uppercase;
				}
			}
		}

		.detaildata {
				height: 3*@fontSize;
				display: table-cell;
				vertical-align: middle;
				font-size: @fontSize;
				padding-left: 2*@padding;
				z-index: 2;


				span {
					font-size: 0.8 * @fontSize;
					color: @highlight;

				}
		}
		.icon {
			font-size: 1.5 * @fontSize;
			height: 3*@fontSize;
			width: (1.5 * @fontSize) + (@padding);
			display: table-cell;
			vertical-align: middle;
			padding-right: 2*@padding;

			/*
			.fa-clipboard { color: red; }
			.fa-inbox { color: @highlight; }
			.fa-comments-o { color: @highlight; }

			.fa-trash-o { color: black; }

			.fa-refresh { color: orange; }
			.fa-leaf { color: #593B0C; }
			*/
			i { color: white; .border-radius(@padding /3); }
			.hd-rest { background-color: #000000 }
			.hd-plastik { background-color: #f8b32a }
			.hd-bio { background-color: #a58c5d }
			.hd-altpapier { background-color: #bc1d1d }
			.hd-sammelzentrum { background-color: #8577b6 }
		}




	}

 	> a:nth-child(even) .datebg,
 	> a:nth-child(even) .countIcon i,
 	> a:nth-child(even) .count
 	{
		background: @highlightLight;
	}

    > a .countIcon i.fixed {
        background: gray;
    }

	a[href].row:after {
		content: '>';
		display: table-cell;
		width: 2*@padding;
		vertical-align: middle;
	}
}

#settings {
    a[href].row:after {
		content: '' !important;
	}
}

#search > a {
    border-bottom-color: rgba(0,0,0,0.7);

    em {
        font-weight: bold;
    }
}

/* CONTENT STYLING */

#detailcontainer {

    #detail {
        padding: @padding;

        image-rendering:optimizeQuality;
        -ms-interpolation-mode:bicubic;

        > div {
            background: @rowColor;
            padding: @padding;
            .border-radius(@padding/2);
        }

        b {
           font-weight: bold;
        }

        .detail-- p > strong {
            display: block;
            font-weight: bold;
            border-bottom: 1px solid #ccc;
            margin-top: 6px;
        }

        .fa-ul>li {
            line-height: 1em;
            padding-bottom: 0.5em;
        }

        figure {
            width: 100% !important;
            height: auto !important;

            .image_info a, .clearboth20, .clearboth {
                display: none;
            }
        }

        .image_info {
            text-align: center;
            width: 100% !important;
            font-style: @fontSize * 0.8;
            font-size: smaller;
        }

        .imagebg {
            text-align: center;
        }
        .image {
            margin-top: @padding;
            margin-bottom: @padding;
            /*
            background-repeat: no-repeat;
            background-size: auto 95%;
            background-position: center center;
            */
            .border-radius(@padding/2);
            border: 1px solid @backgroundColor;
            padding: @padding;

        }

        h1, h2, h3, h4, h5 {
            font-size: @fontSize;
            line-height: @lineHeight;
            padding-bottom: @padding;
            border-bottom: 1px solid @highlight;
            margin-bottom: @padding;
        }
        h1 {
            font-size: @fontSize * 1.5;
            line-height: @lineHeight * 1.5;
        }
        h2 {
            font-size: @fontSize * 1.3;
            line-height: @lineHeight * 1.3;
        }
        h3 {
            font-size: @fontSize * 1.1;
            line-height: @lineHeight * 1.1;
        }

		.info {
			color: lighten(@fontColor, 10%);
			padding: @padding;
			font-size: @fontSize * 0.75;
			line-height: @fontSize * 1.125;
			background:  @backgroundColor;
			margin-top: @padding;
			margin-bottom: @padding;
		}

		*[rel=colorbox]{
			display: none;
		}

		img { max-height: 200px !important; width: auto !important; max-width: 100% !important; }

		a, a:visited, a:link {
			text-decoration: none;
			color: @highlight;
		}
		a:active {
			text-decoration: none;
			color: @highlightLight;
		}


		table {
			margin-top: @padding;
			margin-bottom: @padding;
		}

		table, tbody, tr, td, th {
			display: block;
			width: 100% !important;
		}
		td, th {
			padding-left: @padding/2;
			padding-right: @padding/2;
		}
		th, td:first-child {
			border-bottom: 2px solid #ccc;
			text-decoration: none;
			font-weight: bold;
			text-align: left;


			u {
				text-decoration: none;
			}
		}

		.detail-notfalldienste {
			.hidden-screen,
			.image_info a {
				display: none;
			}

			.titel {
				font-size: 1.2 * @fontSize;
				line-height: 1.5 * @fontSize;
				font-weight: bold;
				border-bottom: @padding/3 @highlight solid;
				margin-bottom: 1.5*@padding;
				text-align: center;
				color: @highlight;
				display: block;

			}
			.textblock {
				a {
					padding: @padding;
					margin-top: @padding;
					margin-bottom: @padding;
					text-align: center;
					font-weight: bold;
					line-height: @lineHeight * 0.8;
					font-size: @fontSize * 0.8;
					background: @highlightLight;
					color: @rowColor;
					display: block;
					text-decoration: none;
					.border-radius(2px);
				}
				a[href='#1'] {
					background: lighten(@highlightLight, 20%);
					line-height: @lineHeight * 0.6;
					font-size: @fontSize * 0.6;
					img { display: none };
				}
				a[href='#1']:before {
					content: "nach oben";
				}

				table {
					width: 100% !important;
					td, li {
						float: left;
						width: 100%;
						height: @lineHeight + 3 * @padding;

						br {
							display: none;
						}
					}
				}

			}
		}

	}
}

#devicetoken {
    color: #ccc;
    text-align: center;
    font-size: 80%;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 10px;
    line-height: 1em;
}

#loading {
    .translate(0,0,0);
	background: rgba(0,0,0,0.3);
	i.fa {
		font-size: 3em;
		color: @highlight;
	}
}

#splashscreen {
	background: @highlight;

    .innersplash {
        .border-radius(@padding);
        background: rgba(red(@rowColor), green(@rowColor), blue(@rowColor),0.5);

        display: block;
        width: 200px;
        height: 200px;

        margin-left: auto;
        margin-right: auto;

        padding-top: @headerHeight / 2;

        span {
            font-size: @fontSize * 3/2;
            small {
                font-size: @fontSize;
            }
        }

        img {
            height: @headerHeight;
            width: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}


.popup {
    background: rgba(0,0,0,0.7);

    .btn {
        display: block;
        background: @highlightLight;
        color: @highlightText;
        width: 100%;
        border: 0;
        padding: 6px;
        margin-top: 6px;
        .border-radius(2px);
        font-size: 1.1em;

        &.btn-save   {
            background: @highlight;
            font-weight: bold;
        }
    }
    display: none;
    &.active {
        display: block;

        .popupcontent {
          .transform(scale(1));
        }
    }
    .popupcontent {
        box-sizing: border-box;
        background: white;
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        .border-radius(@padding * 3);
        padding: @padding * 3;
        text-align: center;

        .transform(scale(1.4));
        .transition-transform(0.2s ease-in-out);

        span {
            font-size: 1.1em;
            font-weight: bold;
        }

        input, textarea {
            border-radius: @padding;
            border: 1px solid #ccc;
            font-size: 1.2em;
            width: 100%;
            text-align: center;
            padding-top: @padding;
            margin-bottom: @padding * 2;
						box-sizing: border-box;
        }

    }

}


.popup .btn[disabled] {
    background: #ccc !important;
}
