@font-face {
	font-family: 'hitzendorf';
	src:url('fonts/hitzendorf.eot?-cz1yjo');
	src:url('fonts/hitzendorf.eot?#iefix-cz1yjo') format('embedded-opentype'),
		url('fonts/hitzendorf.woff?-cz1yjo') format('woff'),
		url('fonts/hitzendorf.ttf?-cz1yjo') format('truetype'),
		url('fonts/hitzendorf.svg?-cz1yjo#hitzendorf') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'hitzendorf';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-geburt:before {
	content: "\e621";
}
.icon-verein:before {
	content: "\e626";
}
.icon-aufenthalt-und-visum:before {
	content: "\e622";
}
.icon-bauen:before {
	content: "\e623";
}
.icon-einstellungen:before {
	content: "\e624";
}
.icon-fuhrerschein:before {
	content: "\e625";
}
.icon-gewalt:before {
	content: "\e627";
}
.icon-heirat:before {
	content: "\e628";
}
.icon-kfz:before {
	content: "\e629";
}
.icon-leben-in-der-gemeinde:before {
	content: "\e62a";
}
.icon-personalausweis:before {
	content: "\e62b";
}
.icon-pflege:before {
	content: "\e62c";
}
.icon-reisepass:before {
	content: "\e62d";
}
.icon-todesfall:before {
	content: "\e62e";
}
.icon-umzug:before {
	content: "\e62f";
}
.icon-wahlen:before {
	content: "\e630";
}
.icon-behoerdenwege:before {
	content: "\e631";
}
.icon-hauskrankenpflege:before {
	content: "\e600";
}
.icon-gesundheit-und-soziales:before {
	content: "\e601";
}
.icon-gastronomie-und-beherbergung:before {
	content: "\e602";
}
.icon-freizeit-und-sport:before {
	content: "\e603";
}
.icon-feuerwehr:before {
	content: "\e604";
}
.icon-feuerbrand:before {
	content: "\e605";
}
.icon-ferngasversorgung:before {
	content: "\e606";
}
.icon-arzt:before {
	content: "\e607";
}
.icon-apotheke:before {
	content: "\e608";
}
.icon-alarm:before {
	content: "\e609";
}
.icon-aid:before {
	content: "\e60a";
}
.icon-abwasserentsorgung:before {
	content: "\e60b";
}
.icon-wasserversorgung:before {
	content: "\e60c";
}
.icon-tierarzt:before {
	content: "\e60d";
}
.icon-polizei:before {
	content: "\e60e";
}
.icon-phone:before {
	content: "\e60f";
}
.icon-news:before {
	content: "\e610";
}
.icon-navigate:before {
	content: "\e611";
}
.icon-muell:before {
	content: "\e612";
}
.icon-messages:before {
	content: "\e613";
}
.icon-location:before {
	content: "\e614";
}
.icon-impressum:before {
	content: "\e615";
}
.icon-rettung:before {
	content: "\e616";
}
.icon-rechtsbeistand:before {
	content: "\e617";
}
.icon-rauchfangkehrer:before {
	content: "\e618";
}
.icon-bestattung:before {
	content: "\e619";
}
.icon-offentliche-einrichtungen:before {
	content: "\e61a";
}
.icon-calendar:before {
	content: "\e61c";
}
.icon-stromversorgung:before {
	content: "\e61d";
}
.icon-essen:before {
	content: "\e61e";
}
.icon-share:before {
	content: "\e61f";
}
.icon-einkaufen:before {
	content: "\e61b";
}
.icon-uhr:before {
	content: "\e620";
}
