
@font-face {
	font-family: 'hd';
	src:url('./icomoon.eot');
	src:url('./icomoon.eot?#iefix') format('embedded-opentype'),
		url('./icomoon.ttf') format('truetype'),
		url('./icomoon.woff') format('woff'),
		url('./icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="hd-"], [class*=" hd-"] {
	font-family: 'hd';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.hd-rest:before {
	content: "\e600";
}
.hd-plastik:before {
	content: "\e601";
}
.hd-bio:before {
	content: "\e602";
}
.hd-altpapier:before {
	content: "\e603";
}
.hd-sammelzentrum:before {
	content: "\e604";
}
